<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form #LogInForm="ngForm" (ngSubmit)="registerUser(LogInForm.value)">
    <h3>Login</h3>
  
    <label for="username">Email</label>
    <input type="email" placeholder="Email or Phone" id="email" ngModel name="email">
  
    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" ngModel name="password">



    <button type="submit">Sign Up</button>   
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
  </form>
  

