  <!-- <form #LogInForm="ngForm" (ngSubmit)="registerUser(LogInForm.value)">
    <h3>Sign up</h3>
  
    <label for="username">Email</label>
    <input type="email" placeholder="Email or Phone" id="email" ngModel name="email">
  
    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" ngModel name="password">

    <label for="password">Username</label>
    <input type="text" placeholder="Password" id="username" ngModel name="username">

    <button>Log In</button>
  
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
  </form>



  
<app-login></app-login> -->
<div class="body">
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form #SignupForm="ngForm" (ngSubmit)="registerUser(SignupForm.value)">
					<label for="chk" aria-hidden="true" style="color:black">Sign up</label>
         <select class="meh" type="text" id="roles" ngModel name="roles">
          <option disabled selected value default>-- select an option</option>
          <option value="admin">Admin</option>
          <option value="user">User</option>
         </select>
          <input type="text" placeholder="Email or Phone" id="email" ngModel name="email">
          <input type="password" placeholder="Password" id="password" ngModel name="password">

          <button>Log In</button>
      </form>
			</div>

			<div class="login">
				<form #LoginForm="ngForm" (ngSubmit)="Login(LoginForm.value)">
					<label for="chk" aria-hidden="true">Login</label>
          <input type="text" placeholder="Email or Phone" id="email1" ngModel name="email1">
          <input type="password" placeholder="Password" id="password1" ngModel name="password1">
					<button>Login</button>
				</form>
			</div>
	</div>
</div>